{% extends 'layout/base.html.twig' %}

{% block title %}Forgotten password{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="">
            <h1>Forgotten password</h1>
            {{ form(emailForm) }}
        </div>
    </div>
{% endblock %}