{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center flex-column mt-2">
            {{ include('layout/partials/_registration.html.twig') }}
        </div>
    </div>
{% endblock %}


