{% extends 'layout/base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Password reset</h1>
        <p>Type your new password.</p>
        {{ include('layout/partials/_formResetPassword.html.twig') }}
    </div>
{% endblock %}