{% extends 'layout/base.html.twig' %}

{% block title %}SnowTricks - Create trick{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-end mt-5">
            <button class="btnPrev btn btn-primary "><a class="text-white" href="{{ path('app_home') }}">Back home</a></button>
        </div>
    </div>
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Create new trick</h1>
        {{ include('layout/partials/_form.html.twig') }}
    </div>
{% endblock %}
