{% extends 'layout/base.html.twig' %}

{% block title %}SnowTricks - Updated Video{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex justify-content-end mt-5">
			<button class="btnPrev btn btn-primary"><a class="btnPrev" href="{{ path('app_home') }}">Back home</a></button>
		</div>
	</div>
	<div class="col-lg-7 col-md-10 mx-auto d-flex flex-column">

	</div>
{% endblock %}