{% extends 'layout/base.html.twig' %}

{% block title %}SnowTricks - Updated trick{% endblock %}

{% block body %}
	<div class="col-lg-7 col-md-10 mx-auto d-flex flex-column">
		<h1>Update the trick : {{ trick.name }}</h1>
		{% include 'layout/partials/_form.html.twig' %}
		<button type="submit" class="btn btn-warning btn-lg col-12 col-md-6 col-lg-4  mx-auto"> Update </button>
		{{ form_end(form) }}
	</div>
{% endblock %}