{% extends 'base.html.twig' %}
{% block body%}
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="font-weight-light">Snowtricks</h1>
                    <p class="lead text-muted">La légende c'est vous !</p>
                </div>
            </div>
        </section>
        <h2>Dernières Figures:</h2>
{#        {% for trick in tricks %}#}
{#        <div class="album py-5 bg-light">#}
{#            <div class="container">#}
{#                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">#}
{#                    <div class="col">#}
{#                        <div class="card shadow-sm">#}
{#                            <a href="{{ path('trick_show', {id: trick.id, slug: trick.slug}) }}"></a>#}
{#                            <img src="{{ trick.image }}" alt="{{ trick.name }}">#}
{#                            <div class="card-body">#}
{#                                <p class="card-text">{{ trick.nameTrick | raw }}</p>#}
{#                                <div class="d-flex justify-content-between align-items-center">#}
{#                                    <div class="btn-group">#}
{#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>#}
{#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
    </main>
{% endblock %}
