{% extends 'layout/base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <main>
        {# Top Main #}
        <div class="container shape-container d-flex align-items-center minVh">
            <div class="col px-0">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-7 text-center pt-lg">
                        <h1>Snowtrick</h1>
                        <p class="lead text-grey mt-4 mb-5">La légende c'est vous !</p>
                    </div>
                </div>
            </div>
            <a class="" href="#gobottom"><i class="fa fa-arrow-circle-o-down"></i> </a>
        </div>
        {# main #}
        <section id="gobottom">
            <h2 class="text-center font-italic mb-4">Dernières figures</h2>
            <div class="container">
                <div class="row">
                    <div id="tricks" class="row view-group">
                        {% for trick in tricks %}
                            <div class="item col-xs-3 col-lg-3">
                                <div class="thumbnail card">
                                    <div class="img-event m-auto">
{#                                        <img src="{{ asset('build/{{image.content}}') }}" alt="ACME logo">#}
                                        <img class="group list-group-image img-fluid"
                                             src="http://placehold.it/400x250/000/fff"
                                             alt=""/>
                                    </div>
                                    <div class="caption card-body">
                                        <div class="d-flex align-items-center  justify-content-between flex-wrap">
                                            <a href="">
                                                <h4 class="group card-title ">
                                                    {{ trick.title | raw }}</h4>
                                            </a>
                                                <i class="fa fa-pencil lead"></i>
                                                <i class="fa fa-trash lead" data-toggle="modal" data-target="#myModal"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="btn btn-primary m-2" id="load">Load More</div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <a href="#gobottom"><i class="fa fa-arrow-circle-o-up"></i></a>
            </div>
        </section>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-center">
            <div class="modal-dialog .modal-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                        <button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                        </button>
                    </div>
                    <div class="modal-body">Voulez-vous vraiment supprimer ce trick ? </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-danger">Oui supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
