@import "~font-awesome";
@import "~bootstrap";

html {
  position: relative;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #0a0a0a;

  p {
    color: #0a0a0a;
    text-decoration: none;
  }
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #0a0a0a;
      text-decoration: none;
    }
    &:active {
      color: #0a0a0a;
      text-decoration: none;
    }
  }
  .site-content {
    flex: 1;
  }
  .bgImgHome {
    height: 100vh;
    background-size: cover;
    background-image: url("https://images4.alphacoders.com/598/598152.jpg");
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

main{
  margin-bottom: 100px;
}

.loadMore{
  display: none !important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.navbarTop {
  display: flex !important;
}
.navbarBottom {
  display: none !important;
}
nav {
  ul {
    li {
      border-right: 1px solid;
      &:not(:first-child){
        border-right: 1px solid;
      }
      &:not(:last-child) {
        border-right: 1px solid;
      }
      a {
        text-decoration-line: underline;
        &:hover {
          text-decoration-line: underline;
          text-decoration-color: #5eb5e0;
        }
      }
    }
  }
}
.minVh {
  min-height: 95vh;
}
.rowUp {
  justify-content: flex-end;
}
.fa-arrow-circle-o-up {
  font-size: 35px;
}
.view-group {
  display: -ms-flexbox;
  display: contents;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 30px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.fa-trash {
  cursor: pointer;
}
.fa-pencil {
  cursor: pointer;
}
.d-content {
  display: contents;
}
.contShow{
  border: 1px solid;
  height: 100%;
  padding: 2rem;
}
.contUpDe {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
}
footer {
  border-top: 1px solid black;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .rowUp {
    justify-content: space-around;
  }
  .navbarTop {
    display: none !important;
  }
  .navbarBottom {
    position: fixed;
    bottom: -20px;
    width: 100%;
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    nav {
      a {
        padding: 20px !important;
        .fa {
          font-size: 1.5rem;
        }
      }
    }
  }
}
