@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
@import "~font-awesome";
@import "~bootstrap";
/*
 * Globals
 */
body {
    position: relative;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: 1rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
    color: #0a0a0a;
    text-decoration: none;
}
a {
    color: #0a0a0a;
    text-decoration: none;
    &:hover {
        color: #0a0a0a;
        text-decoration: none;
    }
    &:active {
        color: #0a0a0a;
        text-decoration: none;
    }
}
/**
 *Navbar
 */
.navbarTop {
    display: flex !important;
}
.navbarBottom {
    display: none !important;
}
nav {
    >a {
        &:not(:last-child) {
            border-right: 1px solid;
        }
        text-decoration-line: underline;
        &:hover {
            text-decoration-line: underline;
            text-decoration-color: #5eb5e0;
        }
    }
}
/**
 * main
 */
/*home top */
.minVh {
    min-height: 95vh;
}
.fa-arrow-circle-o-down {
    font-size: 35px;
    position: absolute;
    top: 750px;
    right: 50px;
}
.fa-arrow-circle-o-up {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
}
.view-group {
    display: -ms-flexbox;
    display: contents;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.fa-trash {
    cursor: pointer;
}
.fa-pencil {
    cursor: pointer;
}
/*tricks*/
/*Caroussel---------------------------------------------------------*/
/*Caroussel---------------------------------------------------------*/
.d-content {
    display: contents;
}
/**
 * Media queries
 */
@media (max-width: 768px) {
    .navbarTop {
        display: none !important;
    }
    .navbarBottom {
        position: fixed;
        bottom: -20px;
        width: 100%;
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
        nav {
            a {
                padding: 20px !important;
                .fa {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
