<footer class="footer mt-5 ">
    <div class="container">
        <div class="row">
            <p class="text-muted col-md-12">
                Copyright
                <small>&copy;{{ 'now'|date('Y') }}</small>
            </p>
        </div>
    </div>
</footer>