{% extends 'layout/base.html.twig' %}
    {% block title %}
	    505 : Error
    {% endblock %}
{% block body %}
	<h1>505 HTTP Version Not Supporte</h1>
	
	<p>
		Revenir à la page home ? <a href="{{ path('app_home') }}">cliquer ici</a>
	</p>
{% endblock %}